{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Factory Machinery Tracking | {% block title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="HTML5 Example Page">

  <link href={% static "images/logoprojco.ico" %} rel="icon" type="image/vnd.icon" />

  <link href={% static "css/root.css" %} rel="stylesheet" type="text/css" />
  <link href={% static "css/authentication.css" %} rel="stylesheet" type="text/css" />
  <link href={% static "css/footer.css" %} rel="stylesheet" type="text/css" />
  <link href={% static "css/header.css" %} rel="stylesheet" type="text/css" />
</head>

<body>
    {% include "myapp/header.html" %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}(no content){% endblock %}

    {% include "myapp/footer.html" %}

</body>