{% extends 'myapp/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <section class="authentication">
        <div class="wrapper">
            <form id="form" action="">
                <h2>Login</h2>

                <div class="input-box">
                    <input type="text" id="username" placeholder="Username">
                </div>

                <!-- Role selection dropdown -->
                <div class="input-box">
                    <label for="role">Select your role:</label>
                    <select id="role" name="role">
                        <option value="technician">Technician</option>
                        <option value="repair">Repair</option>
                        <option value="manager">Manager</option>
                        <option value="view-only">View-only</option>
                    </select>
                </div>

                <div class="input-box">
                    <input type="password" id="password" placeholder="Password">
                </div>

                <button type="submit">Login</button>
            </form>
        </div>
    </section>
{% endblock %}
